<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <!-- <img src="https://th.bing.com/th/id/OIP.cYNZhhEJSWECnG5xLHFw0wHaHa?rs=1&pid=ImgDetMain" -->
                  <!-- style="width: 185px;" alt="logo"> -->
                  <h4 class="mt-1 mb-5 pb-1" style="color: rgb(224, 41, 132); font-weight: 600;">ELECTRO-BUCKET</h4>
                </div>

                <form [formGroup]="Loginfg" (ngSubmit)="onSubmit()">
                  <p>Please <SPAN style="color: rgb(224, 84, 41); font-weight: 600;">LOGIN</SPAN> to your account</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" formControlName="username" id="form2Example11" class="form-control"
                      placeholder="Enter username" />
                    <label class="form-label" for="form2Example11">Username</label>

                    <div style="color: red;"
                      *ngIf="Loginfg.get('username')?.hasError('required') && Loginfg.get('username')?.touched">
                      Username required
                    </div>

                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" formControlName="password" id="form2Example22" class="form-control"
                      placeholder="Enter your password" />
                    <label class="form-label" for="form2Example22">Password</label>

                    <div style="color: red;"
                      *ngIf="Loginfg.get('password')?.hasError('required') && Loginfg.get('password')?.touched">
                      Password required
                    </div>


                  </div>

                  <div class="alert alert-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                  </div>
                  <div class="d-flex justify-content-end mb-3">
                    <a routerLink="/forgot-password" class="text-danger" style="text-decoration: underline;">Forgot
                      Password?</a>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 p-3">
                      Login</button>
                    <!-- [disabled]="!Loginfg.valid" -->

                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button routerLink="/register" type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-outline-danger">Create new</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>