<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">ElectroBucket</a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-collapse-init
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-light"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <!-- <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link active" aria-current="page" href="#!">
              <div>
                <i class="fas fa-home fa-lg mb-1"></i>
              </div>
              Home
            </a>
          </li>
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link" href="#!">
              <div>
                <i class="far fa-envelope fa-lg mb-1"></i>
                <span class="badge rounded-pill badge-notification bg-dark">11</span>
              </div>
              Link
            </a>
          </li>
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link disabled" aria-disabled="true" href="#!">
              <div>
                <i class="far fa-envelope fa-lg mb-1"></i>
                <span class="badge rounded-pill badge-notification bg-dark">11</span>
              </div>
              Disabled
            </a>
          </li>
          <li class="nav-item dropdown text-center mx-2 mx-lg-1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-dropdown-init
              aria-expanded="false">
              <div>
                <i class="far fa-envelope fa-lg mb-1"></i>
                <span class="badge rounded-pill badge-notification bg-dark">11</span>
              </div>
              Dropdown
            </a>
            <!-- Dropdown menu -->
            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul> -->
        <!-- Left links -->
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
          <li   class="wait-cursor nav-item text-center me-5">
            <button routerLink="/login" style="color: white; background-color: transparent; font-weight: 500;" class="btn transparent-outline-btn">
                Login
            </button>  
          </li>
          <li  class="nav-item text-center mx-2 mx-lg-1">
            <button routerLink="/register" style="color: white; background-color: transparent; font-weight: 500;" class="btn transparent-outline-btn">
                Register
            </button>        
          </li>
        </ul> 
        <!-- Right links -->
  
        <!-- Search form -->
        <!-- <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
          <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
          <button type="button" class="btn btn-outline-light" data-mdb-ripple-init data-mdb-ripple-color="dark">
            Search
          </button>
        </form> -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->



  <section class="showcase">
   <img src="https://png.pngtree.com/background/20230525/original/pngtree-shopping-cart-with-purple-lights-behind-it-on-the-desktop-picture-image_2731906.jpg" width="100%"  height="500px"> 

   
</section>
<section class="content container">
  <h2>About Us</h2>
  <p>At ElectroBucket, we are dedicated to pushing the boundaries of technology and innovation. Founded in 2005, our mission is to create high-quality electronic products that enhance the lives of our customers. From consumer electronics to industrial solutions, we are committed to excellence in every aspect of our business.</p>
  
  <h2>Our Services</h2>
  <p>We offer a wide range of services including product design, manufacturing, and after-sales support. Our team of experts works tirelessly to ensure that every product meets the highest standards of quality and performance.</p>
  
  <h2>Contact Us</h2>
  <p>Have questions or need support? Reach out to our customer service team at <a href="mailto:support@ElectroBucket.com">support@ElectroBucket.com</a> or call us at (123) 456-7890. We are here to help!</p>
</section>

<footer>
  <p>ElectroBucket &copy; 2025. All Rights Reserved.</p>
</footer>
