<!-- EMPTY wishlist -->
<ng-container *ngIf="wishlistItems.length==0">
  <div class="center">
      <h4>Your wishlist is empty!</h4>
      <h6>Add item to it now!</h6>
      <button routerLink="/navbar2" class="btn btn-outline-danger"
          style="background-color: rgb(184, 74, 169); color: azure; border-radius: 20px;"> Add to wishlist now</button>
  </div>
</ng-container>



<ng-container *ngIf="wishlistItems.length!=0">
<div class="container mt-4">
    <h3 class="mb-4">Your Wishlist</h3>
  
    <table class="table table-bordered table-striped text-center align-middle">
      <thead style="background-color: rgb(143, 47, 143); color: white;">
        <tr>
          <th>Sl:No</th>
          <th>Image</th>
          <th>Title</th>
          <!-- <th>Description</th> -->
          <th>Price ($)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of wishlistItems; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <img [src]="item.image" alt="{{item.title}}" style="width: 60px; height: 60px; object-fit: contain;">
          </td>
          <td>{{ item.title }}</td>
          <!-- <td>{{ item.description }}</td> -->
          <td>{{ item.price }}</td>
          <td>
            <button style="background-color: rgb(182, 104, 182); color: white;" class="btn btn-sm" (click)="removeFromWishlist(item)"><i 
                class="fas fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <button style="background-color: rgb(182, 104, 182); color: white;" class="btn " (click)=" clearAllWishlist()">Clear All</button>
  
    <div *ngIf="wishlistItems.length === 0" class="text-center mt-4">
      <p class="text-muted">Your wishlist is empty.</p>
    </div>
  </div>
</ng-container> 