<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">ElectroBucket</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <!-- Show only if user has Customer role -->
        <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="userRoles.includes('Customer')">
          <button routerLink="/customer" style="color: white; background-color: transparent;"
            class="btn transparent-outline-btn">
            <i class="fas fa-user-edit fa-lg mb-1"></i>
          </button>
        </li>

      </ul>


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">

        <li class="wait-cursor nav-item text-center me-3">
          <a routerLink="/cart" class="btn transparent-outline-btn"
            style="color: white; background-color: transparent; font-weight: 500;">
            <i class="fas fa-shopping-cart fs-4"></i>
            <div class="badge" style="font-size: 10px; background-color: rgb(133, 47, 114);">{{ totalItem }}</div>
          </a>
        </li>
        <li class="wait-cursor nav-item text-center me-3">
          <button routerLink="/wishlist" style="color: white; background-color: transparent; font-weight: 500;"
            class="btn transparent-outline-btn">
            <i class="fas fa-heart fs-4"></i>
            <div style="font-size: 10px;background-color: rgb(133, 47, 114);" class="badge ">{{ wishlistCount }}</div>
          </button>
        </li>
        <li>
          <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
            <input type="search" class="form-control border border-danger" placeholder="Search products..."
              [(ngModel)]="searchTerm" name="search" (ngModelChange)="onSearchChange()" />
          </form>
        </li>
        <li class="wait-cursor nav-item text-center me-5">
          <button routerLink="/navbar" style="color: white; background-color: transparent; font-weight: 500;"
            class="btn transparent-outline-btn">
            Logout
          </button>
        </li>

        <!-- <li  class="nav-item text-center mx-2 mx-lg-1">
            <button routerLink="/register" style="color: white; background-color: transparent; font-weight: 500;" class="btn transparent-outline-btn">
                Register
            </button>        
          </li> -->
      </ul>
      <!-- Right links -->

      <!-- Search form -->
      <!-- <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
          <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
          <button type="button" class="btn btn-outline-light" data-mdb-ripple-init data-mdb-ripple-color="dark">
            Search
          </button>
        </form> -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div style="background-color: rgb(230, 196, 231);">
  <app-product></app-product>
</div>