<div class="container mt-5">
    <h3>Reset Password</h3>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
            <label>Token:</label>
            <input type="text" class="form-control" formControlName="token" />
        </div>
        <div class="form-group">
            <label>New Password:</label>
            <input type="password" class="form-control" formControlName="newPassword">
        </div>

        <div style="color: red;"
            *ngIf="resetForm.get('newPassword')?.hasError('pattern') && resetForm.get('newPassword')?.touched">
            Password must be at least 8 characters long, include uppercase & lowercase letters, a number, and a special
            character.
        </div>



        <button class="btn btn-success mt-3" type="submit">Reset Password</button>

    </form>

    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}
        <br>
        <label style="color: blue;" routerLink="/login">Login now</label>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    <br>

    
</div>